{% extends 'base.html' %} {% block head %}
<script>
  async function handleGetInfo(id) {
    try {
      const response = await fetch(`/account/contract-info/${id}`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ clicked: true }),
      });
      const result = await response.json();
      const detailsDiv = document.getElementById(result[0].id);
      detailsDiv.innerHTML = formatJSON(result[0]);
      if (detailsDiv.style.display === "block") {
        detailsDiv.style.display = "none";
        return;
      }
      detailsDiv.style.display = "block";
    } catch (error) {
      console.error("Error:", error);
    }
  }
  function formatJSON(obj) {
    let html = "<ul>";
    for (const key in obj) {
      if (typeof obj[key] === "object") {
        html += `<li><strong>${key}:</strong>${formatJSON(obj[key])}</li>`;
      } else {
        html += `<li><strong>${key}:</strong> ${obj[key]}</li>`;
      }
    }
    html += "</ul>";
    return html;
  }
</script>
{% endblock %} {% block body %}
<form
  method="POST"
  class="flex flex-col w-full h-full text-gray-800 text-lg gap-3 py-12 items-center content-center"
>
  <div class="flex flex-col w-1/4">
    <label for="nume">Nume:</label>
    <input class="border outline-none rounded-md border-gray-800 w-full p-1"
    type="text" name="nume" value="{{data["Nume"]}}" autocomplete="off" />
  </div>
  <div class="flex flex-col w-1/4">
    <label for="prenume">Prenume:</label>
    <input class="border outline-none rounded-md border-gray-800 w-full p-1"
    type="text" name="prenume" value="{{data["Prenume"]}}" autocomplete="off" />
  </div>
  <div class="flex flex-col w-1/4">
    <label for="telefon">Telefon:</label>
    <input class="border outline-none rounded-md border-gray-800 w-full p-1"
    type="text" name="telefon" value="{{data["Telefon"]}}" autocomplete="off" />
  </div>
  <div class="flex flex-col w-1/4">
    <label for="email">Email:</label>
    <input class="border outline-none rounded-md border-gray-800 w-full p-1"
    type="text" name="email" value="{{data["Email"]}}" autocomplete="off" />
  </div>
  <div class="flex flex-col w-1/4">
    <label for="data_nasterii">Data Nasterii:</label>
    <input
      class="border outline-none rounded-md border-gray-800 w-full p-1"
      type="date"
      name="data_nasterii"
      value="{{date}}"
      autocomplete="off"
    />
  </div>
  <div class="flex flex-col w-1/4">
    <label for="agentie">Agentie: </label>
    <select
      class="border outline-none rounded-md border-gray-800 w-full p-1"
      name="agentie"
    >
      {% for agentie in agentii %} {% if agentie == data["Agentie"]%}
      <option class="bg-white" selected="selected">{{agentie}}</option>
      {% else %}
      <option class="bg-white">{{agentie}}</option>
      {% endif %} {% endfor %}
    </select>
  </div>
  <div class="flex flex-col w-1/4">
    <button
      type="submit"
      class="border rounded-md w-full p-1 bg-red-800 text-white duration-300 hover:bg-red-900"
    >
      Modifica datele
    </button>
  </div>
</form>
<div class="flex flex-col gap-2 px-20 items-center content-center">
  <h1 class="font-bold text-xl">Programari</h1>
  <div class="flex flex-col w-1/2">
    {% for programare in programari %}
    <div class="flex flex-row gap-10 items-center py-2 justify-between">
      <h1>{{programare.data}}</h1>
      <h1>{{programare.denumire}}</h1>
      <form action="/account/anulare-programare" method="POST">
        <input type="hidden" value="{{programare.id}}" id="id" name="id" />
        <button
          type="submit"
          class="border border-gray-800 rounded-md p-1 bg-white text-black duration-300 hover:bg-red-900 hover:text-white hover:border-white"
        >
          Anulare
        </button>
      </form>
    </div>
    {% endfor %}
  </div>
</div>
<div class="flex flex-col gap-2 px-20 items-center content-center">
  <h1 class="font-bold text-xl">Contracte</h1>
  <div class="flex flex-col w-1/2">
    {% for contract in contracte %}
    <div class="flex flex-row gap-10 items-center py-2 justify-between">
      <h1>{{contract.data_semnarii}}</h1>
      <div class="flex flex-row gap-2 items-center">
        <h1>{{contract.data_incepere}}</h1>
        <img
          src="../static/right-arrow.png"
          alt="arrow"
          style="width: 15px; height: 15px"
        />
        <h1>{{contract.data_incheiere}}</h1>
      </div>
      <button
        type="submit"
        class="border border-gray-800 rounded-md p-1 bg-white text-black duration-300 hover:bg-red-900 hover:text-white hover:border-white"
        onclick="handleGetInfo('{{contract.id}}')"
      >
        Detalii
      </button>
    </div>
    <div id="{{contract.id}}"></div>
    {% endfor %}
  </div>
</div>
{% endblock %}
