{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<form
  action=""
  method="POST"
  class="flex flex-col w-full h-full text-gray-800 text-lg gap-3 py-12 items-center content-center"
>
  <div class="flex flex-col w-1/4">
    <label for="denumire">Denumire*:</label>
    <input
      class="border outline-none rounded-md border-gray-800 w-full p-1"
      type="text"
      name="denumire"
      id="denumire"
      value="{{contract.denumire}}"
      autocomplete="off"
    />
  </div>

  <div class="flex flex-row w-1/4 gap-4">
    <div class="flex flex-col w-1/2">
        <label for="tip_oferta">Tip oferta*: </label>
        <select
          class="border outline-none rounded-md border-gray-800 w-full p-1"
          name="tip_oferta"
          id="tip_oferta"
        >
          {% for tip in tipOferte %}
          <option
            class="bg-white"
            value="{{ tip }}"
            {% if tip == contract.oferta %}selected{% endif %}
          >
            {{ tip }}
          </option>
          {% endfor %}
        </select>
      </div>

    <div class="flex flex-col w-1/2">
      <label for="pret">Pret(EUR)*:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="number"
        name="pret"
        id="pret"
        value="{{contract.pret}}"
        autocomplete="off"
      />
    </div>
  </div>

  <div class="flex flex-row w-1/4 gap-4">
    <div class="flex flex-col w-1/2">
      <label for="data_semnarii">Data semnarii*:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="date"
        name="data_semnarii"
        id="data_semnarii"
        value="{{contract.data_semnarii}}"
        autocomplete="off"
      />
    </div>

    <div class="flex flex-col w-1/2">
      <label for="data_incheiere">Data incheiere:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="date"
        name="data_incheiere"
        id="data_incheiere"
        value="{{contract.data_incheiere}}"
        autocomplete="off"
      />
    </div>
  </div>

  <div class="flex flex-col w-1/4">
    <label for="data_incepere">Data incepere:</label>
    <input
      class="border outline-none rounded-md border-gray-800 w-full p-1"
      type="date"
      name="data_incepere"
      id="data_incepere"
      value="{{contract.data_incepere}}"
      autocomplete="off"
    />
  </div>

  <div class="flex flex-col w-1/4">
    <label for="categorie">Categorie*:</label>
    <input
      class="border outline-none rounded-md border-gray-800 w-full p-1"
      type="text"
      name="categorie"
      id="categorie"
      value="{{contract.categorie}}"
      autocomplete="off"
    />
  </div>

  <div class="flex flex-col w-1/4">
    <label for="compartimentare">Compartimentare*: </label>
    <select
      class="border outline-none rounded-md border-gray-800 w-full p-1"
      name="compartimentare"
      id="compartimentare"
    >
      <option value="Decomandat" class="bg-white"
        {% if contract.compartimentare == "Decomandat" %}selected{% endif %}>
        Decomandat
      </option>
      <option value="Semidecomandat" class="bg-white"
        {% if contract.compartimentare == "Semidecomandat" %}selected{% endif %}>
        Semidecomandat
      </option>
      <option value="Circular" class="bg-white"
        {% if contract.compartimentare == "Circular" %}selected{% endif %}>
        Circular
      </option>
      <option value="Nedecomandat" class="bg-white"
        {% if contract.compartimentare == "Nedecomandat" %}selected{% endif %}>
        Nedecomandat
      </option>
    </select>
  </div>

  <div class="flex flex-row w-1/4 gap-4">
    <div class="flex flex-col w-1/2">
      <label for="nr_camere">Numar camere*:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="number"
        name="nr_camere"
        id="nr_camere"
        value="{{contract.numar_camere}}"
        autocomplete="off"
      />
    </div>

    <div class="flex flex-col w-1/2">
      <label for="nr_etaje">Numar etaje:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="number"
        name="nr_etaje"
        id="nr_etaje"
        value="{{contract.numar_etaje}}"
        autocomplete="off"
      />
    </div>
  </div>

  <div class="flex flex-row w-1/4 gap-4">
    <div class="flex flex-col w-1/2">
      <label for="suprafata">Suprafata Utila(mp)*:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="number"
        name="suprafata"
        id="suprafata"
        value="{{contract.suprafata}}"
        autocomplete="off"
      />
    </div>

    <div class="flex flex-col w-1/2">
      <label for="data_constructiei">Data constructiei*:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="date"
        name="data_constructiei"
        id="data_constructiei"
        value="{{contract.data_constructiei}}"
        autocomplete="off"
      />
    </div>
  </div>

  <div class="flex flex-row w-1/4 gap-4">
    <div class="flex flex-col w-1/2">
      <label for="judet">Judet:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="text"
        name="judet"
        id="judet"
        value="{{contract.judet}}"
        autocomplete="off"
      />
    </div>

    <div class="flex flex-col w-1/2">
      <label for="oras">Oras*:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="text"
        name="oras"
        id="oras"
        value="{{contract.oras}}"
        autocomplete="off"
      />
    </div>
  </div>

  <div class="flex flex-row w-1/4 gap-4">
    <div class="flex flex-col w-1/2">
      <label for="sector">Sector:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="number"
        name="sector"
        id="sector"
        value="{{contract.sector}}"
        autocomplete="off"
      />
    </div>

    <div class="flex flex-col w-1/2">
      <label for="strada">Strada*:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="text"
        name="strada"
        id="strada"
        value="{{contract.strada}}"
        autocomplete="off"
      />
    </div>
  </div>

  <div class="flex flex-row w-1/4 gap-4">
    <div class="flex flex-col w-1/2">
      <label for="scara">Scara:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="text"
        name="scara"
        id="scara"
        autocomplete="off"
        value="{{contract.scara}}"
        maxlength="1"
      />
    </div>

    <div class="flex flex-col w-1/2">
      <label for="cod_postal">Cod Postal*:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="text"
        name="cod_postal"
        id="cod_postal"
        value="{{contract.cod_postal}}"
        autocomplete="off"
      />
    </div>
  </div>

  <div class="flex flex-row w-1/4 gap-4">
    <div class="flex flex-col w-1/2">
      <label for="etaj">Etaj:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="number"
        name="etaj"
        id="etaj"
        value="{{contract.etaj}}"
        autocomplete="off"
      />
    </div>

    <div class="flex flex-col w-1/2">
      <label for="numar_adresa">Numar adresa*:</label>
      <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="number"
        name="numar_adresa"
        id="numar_adresa"
        value="{{contract.numar_adresa}}"
        autocomplete="off"
      />
    </div>
  </div>

  <div class="flex flex-col w-1/4">
    <label for="descriere">Descriere:</label>
    <textarea
      class="border outline-none rounded-md border-gray-800 w-full p-1"
      name="descriere"
      id="descriere"
      rows="4"
    />{{contract.descriere}}</textarea>
  </div>

  <div class="flex flex-col w-1/4">
    <label for="imagine">Adauga imagine:</label>
    <input
        class="border outline-none rounded-md border-gray-800 w-full p-1"
        type="file"
        name="imagine"
        id="imagine"
        accept="image/png, image/jpeg"
        autocomplete="off"
      />
  </div>

  <div class="flex flex-col w-1/4">
    <button
      type="submit"
      class="border rounded-md w-full p-1 bg-red-800 text-white duration-300 hover:bg-red-900"
    >
      Inregistreaza
    </button>
  </div>

</form>

{% if incomplete_data == True %}
<div class="flex items-center justify-center">
  <p class="text-gray-800 text-base">Va rugam sa completati toate campurile obligatorii</p>
</div>
{% endif %}
{% endblock %}
